{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}" />
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header-container">
        <div class="time-container">
          <div class="date"></div>
          <p>-</p>
          <div class="time"></div>
        </div>
      </div>
      <div class="content-container">
        <div class="sidebar-container">
          <div class="sidebar-items">
            <label for="">wew</label>
          </div>
        </div>
        <div class="main-content"></div>
      </div>
    </div>
  </body>
</html>
