<div class="footer-container">
    <div class="footer">
        <div class="copywrite">

        </div>
        <div class="socials-footer">
            <div class="socials-footer-div">
                <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="socials-footer-div">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="socials-footer-div">
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
</div>