<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Home</title>
</head>
<body>
    <div class="main-container">
        <div class="sidebar-container">
            <div class="logo-container">
                <img class="logo" src="/assets/img/res-logo1.png" alt="">
            </div>
            <div class="sidebar-content">
                <div class="sidebar-list">
                    <div class="list sidebar-home">HOME</div>
                    <div class="list sidebar-about">ABOUT US</div>
                    <div class="list sidebar-menu">MENU</div>
                    <div class="list sidebar-contact">CONTACT US</div>
                    <div class="list sidebar-reserve">RESERVATION</div>
                </div>
            </div>
            <div class="socmed-container">
                <div class="socials">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
        <div class="content-container home-content-container">
            <div class="home-header-container">
                <div class="slogan-container">
                    <label class="slogan-1">GOOD FOOD, GOOD MOOD</br></label>
                    <label class="slogan-2">CHEF'S SPECIAL, EVERY FRIDAY</label>
                </div>
                <div class="button-container">
                    <div class="contact-container">
                        <button>MORE ABOUT US</button>
                    </div>
                    <div class="reserve-container">
                        <button>RESERVE A TABLE!</button>
                    </div>
                </div>
            </div>
            <div class="home-about-us-container">
                <div class="home-about-us-div-1">
                    <label class="home-about-us-label-1">WELCOME</br></label>
                    <label class="home-about-us-label-2">ABOUT US</br></label>
                    <label class="home-about-us-label-3">LITTLE PEARL</label>
                </div>
                <div class="home-about-us-div-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
            </div>
            <div class="home-services-container">
                <div class="services-div-1">
                    <label class="services-label-1">DID YOU KNOW?</br></label>
                    <label class="services-label-2">ABOUT OUR RESTAURANT</label>
                </div>
                <div class="services-div-2">
                    <div class="home-service">
                        <i class="fa-solid fa-mug-hot"></i>
                        <label>FAMOUS FOR</br>OUR COFFEE</label>
                    </div>
                    <div class="home-service">
                        <i class="fa-solid fa-mobile"></i>
                        <label>PHONE</br>RESERVATIONS</label>
                    </div>
                    <div class="home-service">
                        <i class="fa-solid fa-clock"></i>
                        <label>OPEN EVERYDAY</br>8:00 - 10:00</label>
                    </div>
                    <div class="home-service">
                        <i class="fa-solid fa-signs-post"></i>
                        <label>LOCATED IN</br>CITY CENTER</label>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="footer">
                    <div class="copywrite">

                    </div>
                    <div class="socials-footer">
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container reserve-content-container">
            <div class="reserve-header-container">
                <div class="reserve-title">
                    <label class="title-1">RESERVATIONS</br></label>
                    <label class="title-2">LITTLE PEARL CAFE AND RESTAURANT</label>
                </div>
            </div>
            <div class="reservation-container">
                <div class="reservation-form">
                    <div class="reservation-header">
                        <label class="reserve-1">Need a reservation?</br></label>
                        <label class="reserve-2">BOOK A TABLE</label>
                    </div>  
                    <form action="http://localhost/FoodGallery/app/api/customer.php" method="post">
                        <div class="form">
                            <input type="text" name="name" id="" placeholder="Enter your name">
                            <input type="text" name="email" id="" placeholder="Email address">
                            <div class="choices">
                                <input type="date" name="date" id="">
                                <input type="time" name="time" id="">
                                <!-- <select name="time" id="" class="time">
                                    <option value="7">7:00 PM</option>
                                    <option value="8">8:00 PM</option>
                                    <option value="9">9:00 PM</option>
                                </select> -->
                                <input type="number" name="guest" class="guest" id="" placeholder="Number of guests">
                            </div>
                            <textarea class="message" name="message" id="" cols="20" rows="7"></textarea>
                            <input type="submit" value="Submit" class="submit-btn">
                        </div>
                    </form>
                </div>
                <div class="reservation-images">
                    <div class="image-1">

                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="footer">
                    <div class="copywrite">

                    </div>
                    <div class="socials-footer">
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container menu-content-container">
            <div class="menu-header-container">
                <div class="title">
                    <label class="title-1">OUR MENU</br></label>
                    <label class="title-2">SELECT MENU BELOW</label>
                </div>
                <div class="menu-category-container">
                    <div class="menu-category coffee-menu-category">
                        <div class="icon-div">
                            <i class="fa-solid fa-mug-hot"></i>
                        </div>
                        <div class="menu-name">
                            <label>COFFEE</label>
                        </div>
                    </div>
                    <div class="menu-category lunch-menu-category">
                        <div class="icon-div">
                            <i class="fa-solid fa-burger"></i>
                        </div>
                        <div class="menu-name">
                            <label>LUNCH</label>
                        </div>
                    </div>
                    <div class="menu-category dinner-menu-category">
                        <div class="icon-div">
                            <i class="fa-solid fa-utensils"></i>
                        </div>
                        <div class="menu-name">
                            <label>DINNER</label>
                        </div>
                    </div>
                    <div class="menu-category drinks-menu-category">
                        <div class="icon-div">
                            <i class="fa-solid fa-beer-mug-empty"></i>
                        </div>
                        <div class="menu-name">
                            <label>DRINKS</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-container">
                <div class="coffee-category">
                    <div class="espresso-div">
                        <div class="espresso">
                            <label>ESPRESSO</label>
                        </div>
                        <div class="espresso-items-div">
                            <div class="espresso-item">
                                <div class="name">
                                    <label>Cappucino</label>
                                </div>
                                <div class="price">
                                    <label>4.00</label>
                                </div>
                            </div>
                            <div class="espresso-item">
                                <div class="name">
                                    <label>Mocha</label>
                                </div>
                                <div class="price">
                                    <label>3.75</label>
                                </div>
                            </div>
                            <div class="espresso-item">
                                <div class="name">
                                    <label>Espresso</label>
                                </div>
                                <div class="price">
                                    <label>3.25</label>
                                </div>
                            </div>
                            <div class="espresso-item">
                                <div class="name">
                                    <label>Flat White</label>
                                </div>
                                <div class="price">
                                    <label>4.00</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iced-div">
                        <div class="iced">
                            <label>ICED</label>
                        </div>
                        <div class="iced-items-div">
                            <div class="iced-item">
                                <div class="name">
                                    <label>Mocha</label>
                                </div>
                                <div class="price">
                                    <label>3.75</label>
                                </div>
                            </div>
                            <div class="iced-item">
                                <div class="name">
                                    <label>Espresso</label>
                                </div>
                                <div class="price">
                                    <label>3.25</label>
                                </div>
                            </div>
                            <div class="iced-item">
                                <div class="name">
                                    <label>Latte</label>
                                </div>
                                <div class="price">
                                    <label>4.50</label>
                                </div>
                            </div>
                            <div class="iced-item">
                                <div class="name">
                                    <label>Loose-Leaf Tea</label>
                                </div>
                                <div class="price">
                                    <label>3.00</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lunch-category">
                    <div class="lunch-item">
                        <div class="name">
                            <label>BBQ Ribs</label>
                        </div>
                        <div class="price">
                            <label>30.00</label>
                        </div>
                    </div>
                    <div class="lunch-item">
                        <div class="name">
                            <label>Steak</label>
                        </div>
                        <div class="price">
                            <label>32.00</label>
                        </div>
                    </div>
                    <div class="lunch-item">
                        <div class="name">
                            <label>Burger and Fries</label>
                        </div>
                        <div class="price">
                            <label>10.00</label>
                        </div>
                    </div>
                    <div class="lunch-item">
                        <div class="name">
                            <label>Gumbo</label>
                        </div>
                        <div class="price">
                            <label>23.00</label>
                        </div>
                    </div>
                    <div class="lunch-item">
                        <div class="name">
                            <label>Jambalaya</label>
                        </div>
                        <div class="price">
                            <label>26.00</label>
                        </div>
                    </div>
                </div>
                <div class="dinner-category">
                    <div class="salad-div">
                        <div class="salad">
                            <label>SALAD</label>
                        </div>
                        <div class="salad-items-div">
                            <div class="salad-item">
                                <div class="name">
                                    <label>Hosue Salad</label>
                                </div>
                                <div class="price">
                                    <label>10.00</label>
                                </div>
                            </div>
                            <div class="salad-item">
                                <div class="name">
                                    <label>Chicken Salad</label>
                                </div>
                                <div class="price">
                                    <label>15.00</label>
                                </div>
                            </div>
                            <div class="salad-item">
                                <div class="name">
                                    <label>ceasar Salad</label>
                                </div>
                                <div class="price">
                                    <label>12.25</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="appetizer-div">
                        <div class="appetizer">
                            <label>APPETIZERS</label>
                        </div>
                        <div class="appetizer-items-div">
                            <div class="appetizer-item">
                                <div class="name">
                                    <label>Nachos Grander</label>
                                </div>
                                <div class="price">
                                    <label>12.00</label>
                                </div>
                            </div>
                            <div class="appetizer-item">
                                <div class="name">
                                    <label>Sweet Onion Rings</label>
                                </div>
                                <div class="price">
                                    <label>10.00</label>
                                </div>
                            </div>
                            <div class="appetizer-item">
                                <div class="name">
                                    <label>Mozzarella Sticks</label>
                                </div>
                                <div class="price">
                                    <label>14.00</label>
                                </div>
                            </div>
                            <div class="appetizer-item">
                                <div class="name">
                                    <label>Breadsticks & Sauce</label>
                                </div>
                                <div class="price">
                                    <label>5.00</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-div">
                        <div class="main">
                            <label>MAINS</label>
                        </div>
                        <div class="main-items-div">
                            <div class="main-item">
                                <div class="name">
                                    <label>Grilled Cheese</label>
                                </div>
                                <div class="price">
                                    <label>15.00</label>
                                </div>
                            </div>
                            <div class="main-item">
                                <div class="name">
                                    <label>Parmesan Chicken</label>
                                </div>
                                <div class="price">
                                    <label>13.00</label>
                                </div>
                            </div>
                            <div class="main-item">
                                <div class="name">
                                    <label>Grilled Salmon</label>
                                </div>
                                <div class="price">
                                    <label>15.25</label>
                                </div>
                            </div>
                            <div class="main-item">
                                <div class="name">
                                    <label>Grilled Pork Tenderloin</label>
                                </div>
                                <div class="price">
                                    <label>25.00</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dessert-div">
                        <div class="dessert">
                            <label>DESSERTS</label>
                        </div>
                        <div class="dessert-items-div">
                            <div class="dessert-item">
                                <div class="name">
                                    <label>Cheesecake with Berries</label>
                                </div>
                                <div class="price">
                                    <label>6.75</label>
                                </div>
                            </div>
                            <div class="dessert-item">
                                <div class="name">
                                    <label>Red Velvet Cake</label>
                                </div>
                                <div class="price">
                                    <label>9.00</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drink-category">
                    <div class="drink-item">
                        <div class="name">
                            <label>Ice Tea</label>
                        </div>
                        <div class="price">
                            <label>3.00</label>
                        </div>
                    </div>
                    <div class="drink-item">
                        <div class="name">
                            <label>Milkshake</label>
                        </div>
                        <div class="price">
                            <label>10.00</label>
                        </div>
                    </div>
                    <div class="drink-item">
                        <div class="name">
                            <label>Fruit Juice</label>
                        </div>
                        <div class="price">
                            <label>5.00</label>
                        </div>
                    </div>
                    <div class="drink-item">
                        <div class="name">
                            <label>Coke</label>
                        </div>
                        <div class="price">
                            <label>6.00</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="footer">
                    <div class="copywrite">

                    </div>
                    <div class="socials-footer">
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container about-content-container">
            <div class="about-header-container">
                <div class="title-about">
                    <label class="title-1">ABOUT US</br></label>
                    <label class="title-2">LITTLE PEARL CAFE & RESTAURANT</label>
                </div>
            </div>
            <div class="about-content-1">
                <div class="about-content-1a">

                </div>
                <div class="about-content-1b">
                    <div class="about-content-1b-header">
                        <label class="content-1b-header-title-1">About Us</br></label>
                        <label class="content-1b-header-title-2">LITTLE PEARL</label>
                    </div>
                    <div class="about-content-1b-main">
                        <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</label>
                    </div>
                    <div class="about-content-1b-footer">
                        <div class="star-div">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-color"></i>
                        </div>
                        <div class="comment-div">
                            <div class="comment-1">
                                <label>"Best cafe in London. Ever!”</label>
                            </div>
                            <div class="comment-2">
                                <label>“Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus.”</label>
                            </div>
                            <div class="comment-author">
                                <label>Peter Johnson, Chef</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-content-2">
                <div class="owner-container">
                    <div class="owner-img">

                    </div>
                    <div class="owner-name">
                        <label class="owner-label-1">JUAN PAYB</label>
                        <label class="owner-label-2">RESTAURANT OWNER</label>
                    </div>
                    <div class="owner-description">
                        <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius in eros.</label>
                    </div>
                </div>
            </div>
            <div class="about-content-3">
                <div class="about-location">
                    <div class="about-location-a">
                        <div class="location-a-div-1">
                            <label class="location-a-1">Our Location</label>
                            <label class="location-a-2">VISIT US!</label>
                        </div>
                        <div class="location-a-div-2">
                            <label class="location-a-3">
                                We are located next to Green House Club.</br>
                                60 Chalton St, London</br>
                                NW1 1HS, United Kingdom
                            </label>
                        </div>
                    </div>
                    <div class="about-location-b">

                    </div>
                </div>
                <div class="about-contact">
                    <div class="about-contact-a">

                    </div>
                    <div class="about-contact-b">
                        <div class="about-b-div-1">
                            <label class="contact-b-1">Have a question?</label>
                            <label class="contact-b-2">CONTACT US</label>
                        </div>
                        <div class="about-b-div-2">
                            <label class="contact-b-3">
                                Call Us: <span class="contact-span">+12 345 6789 10</span></br>
                                Email Us: <span class="contact-span">juanpayb@gmail.com</span></br>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="footer">
                    <div class="copywrite">

                    </div>
                    <div class="socials-footer">
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-container contact-content-container">
            <div class="contact-header-container">
                <div class="contact-title">
                    <label class="title-1">CONTACT US</br></label>
                    <label class="title-2">LITTLE PEARL CAFE AND RESTAURANT</label>
                </div>
            </div>
            <div class="contact-content-1">
                <div class="contact-content-1a">
                    <div class="contact-content-1a-header">
                        <label class="contact-1">Have a question?</br></label>
                        <label class="contact-2">MAIL US</label>
                    </div>
                    <div class="contact-form">
                        <input type="text" name="name" id="" placeholder="Enter your name">
                        <input type="text" name="number" id="" placeholder="Phone Number">
                        <input type="text" name="email" id="" placeholder="Email address">
                        <textarea class="message" name="message" id="" cols="20" rows="5"></textarea>
                        <button class="submit-btn">SUBMIT</button>
                    </div>
                </div>
                <div class="contact-content-1b">
                    <div class="contact-content-1b-reserve">
                        <div class="contact-reserve-1">
                            <label class="contact-reserve-title-1">NEED A TABLE?</label>
                            <label class="contact-reserve-title-2">MAKE A RESERVATION ONLINE!</label>
                        </div>
                        <div class="contact-reserve-2">
                            <button class="contact-reserve-btn">RESERVE NOW!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-content-2">
                <div class="about-location">
                    <div class="about-location-a">
                        <div class="location-a-div-1">
                            <label class="location-a-1">Our Location</label>
                            <label class="location-a-2">VISIT US!</label>
                        </div>
                        <div class="location-a-div-2">
                            <label class="location-a-3">
                                We are located next to Green House Club.</br>
                                60 Chalton St, London</br>
                                NW1 1HS, United Kingdom
                            </label>
                        </div>
                    </div>
                    <div class="about-location-b">

                    </div>
                </div>
                <div class="about-contact">
                    <div class="about-contact-a">

                    </div>
                    <div class="about-contact-b">
                        <div class="about-b-div-1">
                            <label class="contact-b-1">Have a question?</label>
                            <label class="contact-b-2">CONTACT US</label>
                        </div>
                        <div class="about-b-div-2">
                            <label class="contact-b-3">
                                Call Us: <span class="contact-span">+12 345 6789 10</span></br>
                                Email Us: <span class="contact-span">juanpayb@gmail.com</span></br>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="footer">
                    <div class="copywrite">

                    </div>
                    <div class="socials-footer">
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div class="socials-footer-div">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>