<div class="navbar">
  <div class="navbar-container">
    <div class="nav-logo">
      <a href="{% url 'home' %}"><button>LITTLE PEARL</button></a>
    </div>
    <div class="nav-content">
      <div class="nav-menu nav-item">
        <a href="{% url 'menu' %}"><button>MENU</button></a>
      </div>
      <div class="nav-reservation nav-item">
        <a href="{% url 'reservation' %}"><button>RESERVE</button></a>
      </div>
      <div class="nav-blog nav-item">
        <button>BLOG</button>
      </div>
      <div class="nav-contact nav-item">
        <a href="{% url 'contact' %}"><button>CONTACT US</button></a>
      </div>
    </div>
  </div>
</div>
