.about-content-container {
  display: block;
  background-image: var(--restaurant-about-bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(100, 100, 100);
  background-blend-mode: multiply;
}

.about-header-container {
  background-image: var(--girl-1-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(165, 165, 165);
  background-blend-mode: multiply;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-about {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title-1 {
  color: white;
  font-size: 5rem;
  font-weight: 800;
}

.title-2 {
  color: rgb(218, 218, 218);
  font-size: 1.5rem;
  font-weight: 800;
}

.about-content-1 {
  background-color: rgb(250, 243, 235);
  height: 110%;
  padding: 4rem 3rem;
  display: flex;
  justify-content: space-between;
}

.about-content-1a {
  width: 48%;
  background-image: var(--shop-1-image);
  background-size: cover;
  background-position: center;
}

.about-content-1b {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.about-content-1b-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.content-1b-header-title-1 {
  font-size: 2rem;
  color: rgb(250, 171, 60);
}

.content-1b-header-title-2 {
  font-size: 3rem;
  font-weight: 700;
}

.about-content-1b-main {
  text-align: center;
}

.about-content-1b-main label {
  font-size: 1.1rem;
  color: rgb(49, 49, 49);
}

.about-content-1b-footer {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.star-div {
  font-size: 1.2rem;
  color: rgb(238, 168, 0);
}

.no-color {
  color: rgb(199, 193, 187);
}

.comment-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.comment-1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.comment-2 {
  text-align: center;
  font-size: 1.1rem;
  color: rgb(36, 36, 36);
}

.comment-author {
  font-size: 1.2rem;
  font-weight: 600;
}

.about-content-2 {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.owner-container {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.owner-img {
  border: 4px solid white;
  border-radius: 50%;
  width: 20%;
  height: 30%;
  background-image: var(--sett-image);
  background-size: cover;
}

.owner-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: white;
}

.owner-label-1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
}

.owner-label-2 {
  font-size: 0.8rem;
  font-weight: 800;
  color: rgb(250, 171, 60);
}

.owner-description {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
}

.about-content-3 {
  background-color: white;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
}

.about-location,
.about-contact {
  width: 50%;
  height: 100%;
}

.about-location-a,
.about-location-b,
.about-contact-a,
.about-contact-b {
  width: 100%;
  height: 50%;
}

.about-location,
.about-contact {
  display: flex;
  flex-direction: column;
}

.about-location-a,
.about-contact-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.location-a-div-1,
.about-b-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-a-1,
.contact-b-1 {
  font-size: 1.7rem;
  color: rgb(250, 171, 60);
}

.location-a-2,
.contact-b-2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

.location-a-div-2,
.about-b-div-2 {
  text-align: center;
}

.contact-span {
  text-decoration: underline;
  color: rgb(235, 141, 10);
}

.contact-span:hover {
  cursor: pointer;
  color: black;
}

.about-location-b {
  background-image: var(--location-b-image);
  background-size: cover;
}

.about-contact-a {
  background-image: var(--girl-contact-image);
  background-size: cover;
  background-position: center;
}