{% extends 'main.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static 'base/css/about.css' %}">
        
        <div class="content-container about-content-container">
            {% include 'navbar.html' %}
            <div class="about-header-container">
                <div class="title-about">
                    <label class="title-1">ABOUT US</br></label>
                    <label class="title-2">LITTLE PEARL CAFE & RESTAURANT</label>
                </div>
            </div>
            <div class="about-content-1">
                <div class="about-content-1a">

                </div>
                <div class="about-content-1b">
                    <div class="about-content-1b-header">
                        <label class="content-1b-header-title-1">About Us</br></label>
                        <label class="content-1b-header-title-2">LITTLE PEARL</label>
                    </div>
                    <div class="about-content-1b-main">
                        <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</label>
                    </div>
                    <div class="about-content-1b-footer">
                        <div class="star-div">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-color"></i>
                        </div>
                        <div class="comment-div">
                            <div class="comment-1">
                                <label>"Best cafe in London. Ever!”</label>
                            </div>
                            <div class="comment-2">
                                <label>“Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus.”</label>
                            </div>
                            <div class="comment-author">
                                <label>Peter Johnson, Chef</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-content-2">
                <div class="owner-container">
                    <div class="owner-img">

                    </div>
                    <div class="owner-name">
                        <label class="owner-label-1">JUAN PAYB</label>
                        <label class="owner-label-2">RESTAURANT OWNER</label>
                    </div>
                    <div class="owner-description">
                        <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius in eros.</label>
                    </div>
                </div>
            </div>
            <div class="about-content-3">
                <div class="about-location">
                    <div class="about-location-a">
                        <div class="location-a-div-1">
                            <label class="location-a-1">Our Location</label>
                            <label class="location-a-2">VISIT US!</label>
                        </div>
                        <div class="location-a-div-2">
                            <label class="location-a-3">
                                We are located next to Green House Club.</br>
                                60 Chalton St, London</br>
                                NW1 1HS, United Kingdom
                            </label>
                        </div>
                    </div>
                    <div class="about-location-b">

                    </div>
                </div>
                <div class="about-contact">
                    <div class="about-contact-a">

                    </div>
                    <div class="about-contact-b">
                        <div class="about-b-div-1">
                            <label class="contact-b-1">Have a question?</label>
                            <label class="contact-b-2">CONTACT US</label>
                        </div>
                        <div class="about-b-div-2">
                            <label class="contact-b-3">
                                Call Us: <span class="contact-span">+12 345 6789 10</span></br>
                                Email Us: <span class="contact-span">juanpayb@gmail.com</span></br>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
        <style>
            :root {
                --restaurant-about-bg-image: url("{% static 'base/images/restaurant-about-bg.jpg' %}");
                --girl-1-image: url("{% static 'base/images/girl-1.jpg' %}");
                --shop-1-image: url("{% static 'base/images/shop-1.jpg' %}");
                --sett-image: url("{% static 'base/images/sett.webp' %}");
                --location-b-image: url("{% static 'base/images/location-b.jpg' %}");
                --girl-contact-image: url("{% static 'base/images/girl-contact.jpg' %}");
            }
        </style>
{% endblock content %}