{% extends 'main.html' %}
{% block content %}

<div class="content-container home-content-container">
    <div class="home-header-container">
        <div class="slogan-container">
            <label class="slogan-1">GOOD FOOD, GOOD MOOD</br></label>
            <label class="slogan-2">CHEF'S SPECIAL, EVERY FRIDAY</label>
        </div>
        <div class="button-container">
            <div class="contact-container">
                <button>MORE ABOUT US</button>
            </div>
            <div class="reserve-container">
                <button>RESERVE A TABLE!</button>
            </div>
        </div>
    </div>
    <div class="home-about-us-container">
        <div class="home-about-us-div-1">
            <label class="home-about-us-label-1">WELCOME</br></label>
            <label class="home-about-us-label-2">ABOUT US</br></label>
            <label class="home-about-us-label-3">LITTLE PEARL</label>
        </div>
        <div class="home-about-us-div-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
    </div>
    <div class="home-services-container">
        <div class="services-div-1">
            <label class="services-label-1">DID YOU KNOW?</br></label>
            <label class="services-label-2">ABOUT OUR RESTAURANT</label>
        </div>
        <div class="services-div-2">
            <div class="home-service">
                <i class="fa-solid fa-mug-hot"></i>
                <label>FAMOUS FOR</br>OUR COFFEE</label>
            </div>
            <div class="home-service">
                <i class="fa-solid fa-mobile"></i>
                <label>PHONE</br>RESERVATIONS</label>
            </div>
            <div class="home-service">
                <i class="fa-solid fa-clock"></i>
                <label>OPEN EVERYDAY</br>8:00 - 10:00</label>
            </div>
            <div class="home-service">
                <i class="fa-solid fa-signs-post"></i>
                <label>LOCATED IN</br>CITY CENTER</label>
            </div>
        </div>
    </div>
</div>

{% endblock content %}