{% extends 'main.html' %}
{% load static %}

{% block content %}
        <link rel="stylesheet" href="{% static 'base/css/reservation.css' %}">
        {% include 'navbar.html' %}
        <div class="content-container reserve-content-container">
            <div class="reserve-header-container">
                <div class="reserve-title">
                    <label class="title-1">RESERVATIONS</br></label>
                    <label class="title-2">LITTLE PEARL CAFE AND RESTAURANT</label>
                </div>
            </div>
            <div class="reservation-container">
                <div class="reservation-form">
                    <div class="reservation-header">
                        <label class="reserve-1">Need a reservation?</br></label>
                        <label class="reserve-2">BOOK A TABLE</label>
                    </div>  
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form">
                            {{ form.name }}
                            {{ form.email }}
                            <div class="choices">
                                {{ form.date }}
                                {{ form.time }}
                                {{ form.guest }}
                            </div>
                            {{ form.message }}
                            <input type="submit" value="Submit" class="submit-btn">
                        </div>
                    </form>
                </div>
                <div class="reservation-images">
                    <div class="image-1">

                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
        <style>
            :root {
                --coffee-1-image: url("{% static 'base/images/coffee-1.jpg' %}");
                --restaurant-bg1-image: url("{% static 'base/images/restaurant-bg1.jpg' %}");
            }
        </style>
{% endblock content %}